.sidebar {
    width: 300px;
    height: 100vh;
    background: linear-gradient(to right, #0B99AD 0%, #004AAD 100%);
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .logo-container {
    background: linear-gradient(to right, #0B99AD 0%, #004AAD 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 120px;
    height: 120px;
  }
  
  .main-menu {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: 200;
    font-family: poppins;
  }
  
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 13px 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .menu-item.active {
    background-color: #005b96;
  }
  
  .menu-item.lesson-management {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 10px 20px;
  }
  
  .menu-icon {
    margin-right: 15px;
    font-size: 16px;
    width: 20px;
    text-align: center;
    margin-left: 30px;
    margin-top: 5px;
  }
  
  .menu-text {
    font-size: 16px;
  }
  
  .logout {
    margin-top: auto;
    background: linear-gradient(to right, #0B99AD 0%, #004AAD 100%);
  }