/* Reset and Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, Inter;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure body height fills the screen */
  width: 100vw; /* Full width of the viewport */
  overflow: hidden; /* Prevent the body from scrolling */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}